*.opendb
*.sln
*.user
*.vcxproj
*.filters
Debug/
.vs/
*.db
*.lastbuildstate
*.tlog
*.ilk
*.log
*.pdb
*.idb
1002_Chatbot_Project/.vs/1002_Chatbot_Project/v16/.suo
1002_Chatbot_Project/.vs/1002_Chatbot_Project/v16/Browse.VC.db
